mat-card{
    max-width: 500px;
    width: 15em;
    margin-bottom: 50px;
    margin-right: 10px;
    float: left;
}

mat-card:hover{
    background-color: rgba(255, 255, 255, 0.438);
}

.nav-item-info{
    display: inline;
}

.outerButton{
    background-color: white;
    margin: 0px 10px 10px 10px;
}

.innerButton{
    background-color: lightgray;
    position: absolute; right: 0;
    vertical-align: top;
    margin-top: -10px;
    margin-right: 15px;
}

.listTitle{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.firstCardItem{
    float: left;
}

.secondCardItem{
    float: right;
}

.outerRight{
    float: right;
}